---
import { memorialData } from '../../data/memorialData';
import Layout from '../../layouts/Layout.astro';
import ShareFeature from '../../components/ShareFeature.astro';

export function getStaticPaths() {
  return memorialData;
}

const { memorial } = Astro.params;
const memorialInfo = Astro.props;
---

<Layout title={`Share - ${memorialInfo.name}`}>
  <div class="max-w-4xl mx-auto px-4 py-8">
    <ShareFeature 
      petName={memorialInfo.name}
      pageUrl={Astro.url.href}
      previewImage={memorialInfo.photo}
    />
  </div>
</Layout> 