  <div class={currentTab === "share" ? "" : "hidden"}>
    <ShareFeature 
      petName={memorialInfo.name}
      pageUrl={Astro.url.href.split("?")[0]}
      previewImage={memorialInfo.photo}
    />
  </div> 