<nav>
  <div class="logo">
    <a href="/">Furever</a>
  </div>
  
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/create-memorial">Create a Memorial</a>
    <a href="/pet-memory">Pet Memory</a>
    <a href="/community">Community</a>
    <a href="/blog">Blog</a>
  </div>
</nav> 